---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';

---

<script src="../scripts/ws.js"></script>
<script src="../scripts/clock.js"></script>
<Layout title="ringoXD's profile page." description='My bio page'>
	<main>
		<h1><span class="text-gradient">Hello Everyone!</span></h1>
		<p class="instructions">
			My name is ringoXD. I'm an average chino lover.<br />
			Learning <code>Javascript</code> and some languages.<br />
			<strong>Big project:</strong> Sekai.Explode is my big project and is still under active development!
		</p>
		<div class="widget js" style="--columns 4; height: 278px;">
			<div id="discord">
				<div class="content">
					<div class="icon">
						<img src="https://cdn.ringoxd.dev/ringoxd.png" draggable="false">
					</div>
					<div class="meta">
						<!-- <b id="name"></b> -->
						<p>
							<span id="dot"></span>
							<span id="name"></span>
							<span id="xbar"> - </span>
							<span id="status"></span>
							<b id="activity"></b>
							<span id="small_image"></span>
						</p>
					</div>
				</div>
				<div class="rpc">
					<div class="meta">
						<div id="details"></div>
						<span id="state"></span>
						<span> - </span>
						<span id="timestamp"></span>
						<div id="large_image"></div>
					</div>
				</div>
				<div class="meta">
					<div class="info">
						<div id="timeis">Time is:</div>
						<div id="clock"></div>
					</div>
				</div>
			</div>
		</div>
		
		<ul role="list" class="link-card-grid">
			<Card
			href="https://github.com/TeamSekai/Sekai.Explode"
			title="Sekai.Explode"
			body="Sekai changes your life better..."
			/>
			<Card
				href="https://github.com/ringo360/"
				title="Github"
				body="Wanna see my repository...?"
			/>
			<Card
				href="https://ringoxd.dev/discord/"
				title="Discord Server"
				body="My community. let's talk with us!"
			/>
			<Card
				href="https://m1ntooo.com/"
				title="Partner Website"
				body="minto is my friend <3"
			/>
			<Card
				href="https://misskey.io/@ringoxd"
				title="misskey.io"
				body="My misskey account <3"
			/>
			<Card
				href="https://mk.shrimpia.network/@ringoxd"
				title="shrimpia.network"
				body="ðŸ¦yummyðŸ¦"
			/>
		</ul>
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a; */
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url("https://cdn.ringoxd.dev/chino-wallpaper.webp");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		/* background-size: 224px; */
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.widget {
	    --square-size: calc((((min(1280px, 100vw - 100px) - (60px * 11)) / 12) * 8 + (60px - var(--gap)) * 7) / 8);
	    --c: min(var(--columns, 2), var(--template-columns));
	    --r: var(--rows, 2);
	    grid-row: span var(--r);
	    grid-column: span var(--c);
	    transition: transform .2s linear, background-color .2s linear;
	    border-radius: 24px;
	    background-color: #23262d;
	    /* height: calc(var(--square-size) * var(--r) + var(--gap) * (var(--r) - 1)); */
	    height: calc(var(--square-size) * var(--r) + var(--gap) * (var(--r) - 1));
	    overflow: hidden;
	    color: #fff;
	}

	@media (width < 1300px) {
	    .widget {
	        --square-size: calc((min(950px, 100vw - 100px) - (var(--gap) * 7)) / 8);
	    }
	}

	@media (width < 880px) {
	    .widget {
	        --square-size: calc((max(320px, min(480px, calc(100vw - 50px))) - (var(--gap) * 3)) / 4);
	    }
	}
	.widget a {
	    display: flex;
	    flex-direction: row;
	    box-sizing: border-box;
	    padding: 24px;
	    width: 100%;
	    height: 100%;
	    color: #ffffff;
	}

	.widget a[href='#'] {
	    pointer-events: none;
	}

	.widget a[aria-label] {
	    box-sizing: border-box;
	    padding: 0;
	}

	.widget a[aria-label] .image {
	    background: var(--bg) center/contain no-repeat;
	    width: 100%;
	    height: 100%;
	}

	.widget .content {
	    display: flex;
	    flex-direction: column;
	}
	#discord b+p {
		color: rgba(255, 255, 255, 0.719)255, 255, 255, 0.733);
	}

	#discord h1,
	#discord p {
		margin: 0;
	}

	.widget .icon {
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border-radius: 10px;
	    width: 40px;
	    height: 40px;
	    overflow: hidden;
	    color: #fff;
	}

	.widget .icon svg {
	    width: var(--size, 70%);
	    height: var(--size, 70%);
	}

	.widget .icon img {
	    width: 100%;
	    height: 100%;
	}

	.widget .meta {
	    margin-top: 10px;
	}

	.widget[style*='--rows: 1;'] .content {
	    flex-direction: row;
	    align-items: center;
	}

	.widget[style*='--rows: 1;'] .meta {
	    margin-top: 0;
	    margin-left: 20px;
	    white-space: nowrap;
	}

	@media (width < 880px) {
	    .widget[style*='--m-'] {
	        --c: min(var(--m-columns, 2), var(--template-columns));
	        --r: var(--m-rows, 2);
	    }
	}

	
	#dot {
		display: inline-block;
		margin-right: .1em;
		border-radius: 50%;
		width: .6em;
		height: .6em
	}
	#discord {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding: 24px;
		width: 100%;
		height: 100%;
		flex-grow: 1;
	}
	#discord .content {
		flex-direction: row;
		/* border: 2px solid red; */
	}
	#discord .meta {
		margin-top: 0;
		margin-left: 14px;
	}
	#discord .rpc {
		display: flex;
		flex-direction: row;
		margin-top: 0px;
		/* white-space: nowrap; */
		/* border: 2px solid red; */
	}
	#discord .rpc .meta {
		color: rgba(255, 255, 255, 0.733);
	}
	.info {
		display: flex;
		justify-content: flex-end;
		color: rgba(255, 255, 255, 0.116);
	}
	.info #timeis {
		margin-top: -4.5em;
		margin-right: -2em;
	}
	.info #clock {
		font-size: 5em;
		margin-top: -1em;
		/* margin-right: 1em; */
		
	}

	#large_image {
		display: flex;
		border-radius: 10px;
		/* border: 2px solid magenta; */
		background: var(--image) center/cover no-repeat;
		/* margin-left:auto; */
		/* justify-content: flex-end; */
		/*
		width: 72px;
		height: 72px;
		*/
		width: 72px;
		height: 72px;
		/*
		margin-right: -10em;
		*/

		margin-top: 1em;
	}
	#small_image {
		display: inline-block;
		/* position: relative; */
		/* border: 2px solid blue; */
		/* top: -22px; */
		/* left: 50px; */
		border-radius: 50%;
		background: var(--image) center/cover no-repeat;
		width: 25px;
		height: 25px;
		margin-bottom: -0.1em;
		margin-left: -0.1em;
	}
	@media (width < 880px) {
	    #large_image {
			display: none;
		}
		#small_image {
			margin-bottom: -0.2em;
			margin-left: -0.2em;
		}
		.info {
			display: none;
		}
		#xbar {
			display: block;
			height: 0px;
		}
	}
</style>

<!-- Google tag (gtag.js) -->
<script is:inline src="https://www.googletagmanager.com/gtag/js?id=G-43R6LDMRBM"></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'G-43R6LDMRBM');

</script>
